<h2>Twój koszyk jest jeszcze pusty.</h2>

<br />
<br />
<br />
<br />
<div class="text-center">
    @Html.ActionLink("Wybierz sobie coś!", "Index", "Products", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</div>


