@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    MFiI<br />
    UG<br />
    <abbr title="Phone">P:</abbr>
    58 1234567
</address>

<address>
    <p bold>Support:</p> <email mail-to="Support"></email><br />
    <p bold>Marketing:</p> <email mail-to="Marketing"></email>
</address>
<bold>Is this BOLD?</bold>
