<div class="panel">
    <div class="panel-heading">
        <h4>Powiąż rolę z użytkownikiem</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("RoleAddToUser", "Roles"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <label>Email użytkownika:</label> @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Wybierz użytkownika", new { @class = "form-control" })
            <label>Rola:</label> @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Wybierz rolę", new { @class = "form-control" })
            @*<p><input type="submit" value="Zapisz" class="btn-primary" /></p>*@
            <button class="btn btn-group-sm btn-primary btn-block" type="submit">Zapisz</button>
        }
    </div> <!-- End Panel Body-->
</div> <!-- End Panel -->